.Profile {
  display: flex;
  align-items: center;
  position: relative;
}

.Profile .DropName {
  display: none;
  padding: 10px 16px;
}

.Profile .Name,
.Profile .DropName {
  font-size: 14px;
  text-transform: capitalize;
}

.Profile .Name span,
.Profile .DropName span {
  font-weight: 600;
}

.Auth {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.Auth div {
  width: 1px;
  background: #000;
}

.Auth a {
  text-decoration: none;
}

.Auth .ProfileLink {
  color: #000;
}

.Auth .Logout {
  color: #fff;
}

@media (max-width: 700px) {
  .Profile .Name {
    display: none;
  }

  .Profile .DropName {
    display: block;
    position: relative;
  }
}
