.Product {
  width: 225px;
  height: 300px;
  background: #fff;
  box-shadow: 3px 3px 6px #ccc, -1px -1px 2px #ccc;
  border-radius: 8px;
  border: 1px solid #eee;
  justify-self: center;
  padding: 10px;
  justify-content: space-between;
}

.Product .Header p {
  font-size: 12px;
  color: #bfbfbf;
}

.Product .Header h6 {
  font-size: 18px;
  color: #343434;
}

.Product .Image {
  width: 75%;
  height: 180px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  background: #fff;
}

.Product img {
  width: 100%;
  display: block;
  margin: auto;
}

.Product .Footer {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.Price p {
  font-size: 10px;
  color: #bfbfbf;
}

.Price h6 {
  font-size: 18px;
  color: #343434;
}

.Add {
  width: 30px;
  height: 30px;
  background: #b022b9;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.Add:active:enabled {
  transform: scale(1.2);
}

.Add:disabled {
  background-color: rgba(0, 0, 0, 0.58);
}

.FavoriteBorder {
  width: 30px;
  height: 30px;
  background: #eee;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #b022b9;
  margin-right: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

@media (max-width: 700px) {
  .Product {
    width: 160px;
    height: 240px;
  }

  .Product .Image {
    height: 120px;
  }
}

.Product:hover:enabled {
  cursor: pointer;
  box-shadow: 3px 3px 6px rgb(119, 119, 119), -1px -1px 2px rgb(119, 119, 119);
}

.Add:hover:enabled {
  cursor: pointer;
  animation: addAnimation 1s linear infinite;
}

.FavoriteBorder:hover:enabled {
  cursor: pointer;
  animation: favBorderAnimation 1s linear infinite;
}

@keyframes addAnimation {
  0% {
    background: #b022b9;
  }
  100% {
    background: #330036;
  }
}

@keyframes favBorderAnimation {
  0% {
    background: #eee;
  }
  100% {
    background: #ccc;
  }
}
